class Wtx < Formula
  desc "Enhance git worktree creation with initialization and environment setup"
  homepage "https://github.com/spencer17x/wtx"
  url "{{URL}}"
  sha256 "{{SHA256}}"
  license "MIT"
  version "{{VERSION}}"

  depends_on "go" => :build

  def install
    system "go", "build", *std_go_args(ldflags: "-s -w"), "./cmd/wtx"
  end

  test do
    assert_match "wtx", shell_output("#{bin}/wtx --help")
  end
end
